[submodule "ext-5.1.1.451"]
	path = sencha-workspace/ext-5.1.1.451
	url = https://github.com/JarvusInnovations/extjs.git
	branch = 5.1.1.451
[submodule "ext-6.0.1.250"]
	path = sencha-workspace/ext-6.0.1.250
	url = https://github.com/JarvusInnovations/extjs.git
	branch = 6.0.1.250
